/*
Convension para acomodar estilos

1.Posicionamiento
2. Modelo de Caja
3.Tipografia
4.Temas visuales
5. otros
*/

:root {
    /*colores*/
    --dark-blue: #0a3871;
    --gray-light: #67808E;
    --gray-obscure: #495057;
    --gray-dark: #343A40;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Inter';
}

header {
    min-width: 320px;
}

header img {
    margin-left: 24px;
}

main {
    min-width: 320px;
}

/*MAIN INPUT*/
.main-input {}

.card-encrypt {
    width: 90%;
    margin: 0 auto;
}

#input-text {
    width: 100%;
    font-family: 'Inter';
    font-size: 3.2rem;
    color: #0a3871;
    border: none;
    height: auto;
    resize: none;

}

#input-text::placeholder {
    color: #0a387199;
}

.card-encrypt p {
    display: flex;
    font-size: 1.2rem;
    color: var(--gray-light);
}

.card-encrypt p span {
    margin-right: 10px;
}

.button {
    display: inline-block;
    width: 100%;
    padding: 2.4rem;
    margin-top: 2.4rem;
    font-family: 'Inter';
    font-size: 1.6rem;
    background-color: white;
    border-radius: 24px;
    color: var(--dark-blue);
    border: 1px solid var(--dark-blue);
    cursor: pointer;

}

.button-encrypt {
    background-color: var(--dark-blue);
    color: white;
    border: none;
}

.button-decrypt {}


/*MAIN OUTPUT*/
.main-output{
    text-align: center;
}
.card-message {
    display: inline-block;
    width: 88%;
    margin: 2.4rem auto;
    padding: 3.2rem;
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
    color: var(--gray-dark);
    border-radius: 24px;
    box-shadow: 0px 24px 32px -8px var(--gray-light);
}

.card-message p {
    margin-top: 8px;
    font-size: 1.6rem;
    font-weight: 400;
}

.card-message__img {
    display: none;
}

.button-copy {
    width: 100%;
}

.card-output {

    /* display: none; */

    width: 88%;
    margin: 2.4rem auto;
    padding: 3.2rem;
    font-size: 2.4rem;
    text-align: left;
    color: var(--gray-dark);
    border-radius: 24px;
    box-shadow: 0px 24px 32px -8px var(--gray-light);
}

footer {
    height: 3.0rem;
    margin-top: 10rem;
    min-width: 320px;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    background-color: var(--dark-blue);

}

/*mostrar,coultar cards*/
#visible {
    display: inline-block;
}

#oculto {
    display: none;
}